header {
  margin-bottom: 35px;
}

h1 {
  font-size: 50px;
  font-weight: 21;
}

/* 비밀번호 입력 받는 부분 */
.container-inputs {
  margin-bottom: 30px;
}
/* .container-input {
  margin-bottom: 20px;
} */

.container-input .input-border {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
}

.container-input .input-border:focus-within {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  border: 1.5px solid #74c0fc;
  padding: 10px;
}

.container-input input {
  width: 300px;
  height: 30px;
  font-size: 15px;
  border: none;
  outline: none;
}

/* 약관 동의 부분*/
/* https://webdir.tistory.com/433 */
.agree-container {
  margin-bottom: 30px;
  position: relative;
}
.agree-container input[type='checkbox'] {
  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.agree-container input[type='checkbox'] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.agree-container input[type='checkbox'] + label:before {
  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px; /* 체크박스의 너비를 지정 */
  height: 21px; /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}
.agree-container input[type='checkbox'] + label:active:before,
.agree-container input[type='checkbox']:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.agree-container input[type='checkbox']:checked + label:before {
  /* 체크박스를 체크했을때 */
  content: '\2714'; /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.agree-container a {
  color: #1c7ed6;
  font-weight: bold;
}

button {
  background-color: rgba(52, 152, 219, 0.2);
}

.activate {
  background-color: rgba(52, 152, 219, 1);
  cursor: pointer;
}
